@import url("https://fonts.googleapis.com/css?family=Space+Mono|Comfortaa|Quicksand");

.App {
  text-align: center;
  font-family: "Space Mono", monospace;
  scroll-behavior: smooth;
}

.link:hover {
  color: #ff3300;
}

/*---WELCOME---*/
.paddedContainer {
  padding: 4vh;
}

.welcome .link {
  font-family: "Space Mono", monospace;
  color: white;
}

/*---INTRO PARAGRAPH---*/
block {
  height: 80%;
}

h1,
p {
  font-family: "Quicksand", sans-serif;
}

/*---GALLERY---*/
.gallery .link {
  font-family: "Space Mono", monospace;
  color: black;
}
